.page-airdrops {
  text-align: center;
  position: relative;
  border-width: 0px;
  flex: 1 0 auto;
  width: 100%;
  padding: 1rem;
  max-width: 1068px;
  margin: 0 auto;
}

.mb-ip {
  margin-bottom: 0.5rem !important;
}

.title-airdrop {
  padding: 1rem 0 0 0;
  text-align: center;
  width: 100%;
}

.page-airdrops h1 {
  margin: 0 !important;
}

.banner-airdrop {
  position: relative !important;
  justify-content: center;
  width: 100% !important;
  box-sizing: border-box;
  min-width: 0px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  min-height: 60px;
  margin-bottom: 8rem;
}

.banner-airdrop-nearest {
  max-width: 789px;
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.1), 0 8px 24px rgba(17, 17, 26, 0.1),
    0 16px 56px rgba(17, 17, 26, 0.1);
}

.content-presale {
  border-radius: 0 0 1.5rem 1.5rem;
  opacity: 1;
  bottom: 0px;
  width: 100%;
  padding: 25px 16px 16px 16px;
  box-sizing: border-box;
  margin: 0px;
  background: linear-gradient(
    90deg,
    rgba(4, 125, 204, 1) 0%,
    rgba(0, 0, 0, 1) 73%,
    rgba(0, 0, 0, 1) 100%
  );
  text-align: center;
}

.description-short {
  border-radius: 0 0 1rem 1rem;
  opacity: 1;
  backdrop-filter: blur(27px);
  background: linear-gradient(
    90deg,
    rgba(4, 125, 204, 1) 0%,
    rgba(0, 0, 0, 1) 73%,
    rgba(0, 0, 0, 1) 100%
  );
  bottom: 0px;
  width: 100%;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}

.description-short-left {
  position: relative;
  box-sizing: border-box;
  margin: 0px auto 0px 0px;
  min-width: 0px;
  display: flex;
  cursor: pointer;
}
.description-short-right {
  flex-direction: row;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}

.icon-token {
  border-radius: 5px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  min-width: 48px !important;
  box-sizing: border-box;
  margin: 0px 16px 0px 0px;
}

.icon-token > img {
  border-radius: 5px;
}

.img-loaded {
  position: relative;
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  animation-delay: 0.1s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  outline: none;
  height: auto;
  max-width: 100%;
}

.airdrop-badge.red {
  background: #ff4043 0% 0% no-repeat padding-box;
}
.airdrop-badge {
  position: absolute;
  width: fit-content;
  padding: 2px 4px;
  background: #069006 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font: normal normal bold 12px/14px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  top: -8px;
  left: -10px;
  word-break: keep-all;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}

.description-text {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  text-align: start;
}

.title-text-airdop {
  font: normal normal bold 18px/21px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  max-width: 300px;
  margin-bottom: 0.5rem;
}
.description-text-airdop {
  font: normal normal normal 14px/16px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  max-width: 300px;
}

.time-end-live {
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 0px;
  color: white;
  margin-right: 1rem !important;
  height: -moz-fit-content;
  height: fit-content;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  span.ant-tag.ant-tag-success {
    margin-left: 0 !important;
    max-width: 150px;
  }
}

.box-live-time {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.icon-live {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
}

.pulsatingDot {
  width: 7px;
  height: 7px;
  margin-right: 8px;
  background-color: var(--pulsating-dot, #ff4043);
  border-radius: 50%;
  box-sizing: border-box;
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

.pulsatingDot:before {
  position: relative;
  top: -100%;
  left: -100%;
  display: block;
  width: 300%;
  height: 300%;
  background-color: var(--pulsating-dot, #ff4043);
  border-radius: 45px;
  content: '';
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.successDot {
  width: 7px;
  height: 7px;
  margin-right: 8px;
  background-color: var(--pulsating-dot, #52c31e);
  border-radius: 50%;
  box-sizing: border-box;
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

.successDot:before {
  position: relative;
  top: -100%;
  left: -100%;
  display: block;
  width: 300%;
  height: 300%;
  background-color: var(--pulsating-dot, #52c31e);
  border-radius: 45px;
  content: '';
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.btn-join-detail {
  background: #006cff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  cursor: pointer;
  font: normal normal bold 14px/16px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0px;
  transition: all 0.5s;
  padding: 12px 22px !important;
  text-align: center;
  color: #ffffff;
  height: fit-content;
  max-height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-width: 102px !important;
}

.time-counter--container {
  display: flex;
  align-items: center;
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.list-airdrop {
  z-index: 1;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  min-width: 100%;
  padding: 0rem 8px 5rem 8px;
  background: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 5rem;
  min-height: 100px;
}

.list-airdrop .show-campaigns {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -8rem;
}

.airdrop-card {
  border-radius: 25px;
  max-width: 789px;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem !important;
  margin-top: -1rem !important;
  transition: all 0.5s;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 0px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.text-expired {
  color: #ff9898;
}

.btn-expired {
  color: #40a9ff !important;
  border-color: #40a9ff !important;
  background: none !important;
  background-color: none;
}
.btn-expired:hover {
  color: #fff !important;
  background: #1890ff !important;
  border-color: #1890ff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) !important;
}

.btn-create-airdrop {
  margin-top: 0.15rem;
}

.box-create-airdrop {
  width: 100%;
  position: absolute;
}

.ant-modal-title h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #006cff;
  margin-bottom: 0;
}
.ant-modal-title p {
  font-weight: inherit;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.amount-time-airdrop {
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 32px !important;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}

.amount-time-airdrop-box {
  box-sizing: border-box;
  margin: 0.5rem;
  min-width: 0px;
  flex-direction: column;
  display: flex;
}
.amount-airdrop .title-amount,
.claim-ends .title-ends,
.time-start-airdrop .title-time-start {
  font-weight: inherit;
  font-size: small;
  font: normal normal normal 12px/14px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  margin-bottom: 0.5rem;
}
.amount-airdrop .per-amount,
.time-end,
.time-start {
  font-weight: bold;
  font-size: large;
  font: normal normal bold 16px/19px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
}
.amount-airdrop .num-uers-amount {
  font-weight: inherit;
  font-size: small;
  color: #777;
}

.description-airdrop {
  flex-direction: column;
}

.description-airdrop .header-description {
  font: normal normal bold 18px/21px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.description-airdrop .content-description {
  font: normal normal normal 14px/16px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  letter-spacing: 0;
  white-space: pre-line;
}

.slogan-airdrop {
  font: normal normal normal 12px/14px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
}

.title-airdrop-avatar {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.title-airdrop-avatar-child {
  min-width: 0px;
  flex-direction: column;
  display: flex;
  margin-right: 0.5rem;
}

.content-create-airdrop .ant-input {
  border-radius: 0.5rem !important;
}

.content-create-airdrop .ant-form-item-label {
  font-weight: inherit;
  font-size: small;
  font: normal normal normal 12px/14px roboto, -apple-system, blinkmacsystemfont, 'segoe ui',
    oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
}

.modal-create .avatar-uploader > div > .ant-upload {
  width: auto;
}
.modal-create .ant-upload.ant-upload-select-picture-card {
  width: 100%;
}
.modal-create .ant-upload.ant-upload-select-picture-card .ant-upload img {
  height: 100%;
}

.content-create-airdrop .ant-upload.ant-upload-select-picture-card {
  border-radius: 1rem;
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

.content-create-airdrop .banner-img .ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
}

.content-create-airdrop .ant-upload.ant-upload-select-picture-card img {
  border-radius: 1rem;
}

.btn-cancel-campaign {
  margin-right: 0.2rem;
  padding: 0 2rem !important;
}

.ant-btn-round.ant-btn-lg {
  padding: 6.4px 15px;
}

.airdrop-badge-modal {
  top: 20px;
  left: 20px;
}

.btn-color-accept {
  background: #33c79e !important;
  border-color: #33c79e !important;
}

.banner-campaign {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.your-nft {
  margin-top: 0.5rem;
}

.your-nft .ant-card {
  border-radius: 1rem;
}
.your-nft .ant-card-cover img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 15vh;
  width: 100%;
}
.your-nft .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45) !important;
}
.your-nft .ant-card-body {
  padding: 1rem;
  text-align: center;
}

.your-nft .ant-card-meta-description p {
  margin: 0 auto;
}
.your-nft .ant-card-hoverable {
  border-color: transparent;
  -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.card-nft {
  margin-top: 1rem;
}

.your-left-balance {
  border-top: 1px solid #f0f0f0;
  margin-top: 1rem;
  padding-top: 1rem;
}

.your-left-balance b {
  color: black;
  font-weight: bold;
  font-size: large;
}
.your-left-balance b span {
  color: #ff5e5f;
}

.balance-token-earn {
  color: blue;
  font-size: large;
}

.amount-time-airdrop {
  text-align: center;
}

.amount-time-airdrop .ant-row {
  width: 100%;
}

.amount-time-airdrop .ant-collapse {
  border-radius: 1rem;
}

.amount-time-airdrop .ant-collapse > .ant-collapse-item,
.amount-time-airdrop .ant-collapse > .ant-collapse-item:last-child {
  border-radius: 1rem;
}

.amount-time-airdrop .ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0px 0px 1rem 1rem;
}
.amount-time-airdrop .ant-input-number {
  width: 100%;
}
.amount-time-airdrop .ant-form-item-explain.ant-form-item-explain-error {
  text-align: start;
}
.amount-time-airdrop .ant-input-number {
  border-radius: 1rem;
}
.amount-time-airdrop .ant-input-number-handler-wrap {
  display: none;
}
.amount-time-airdrop .ant-btn-round.ant-btn-sm {
  padding: 0 8px;
}
.amount-time-airdrop .ant-input-number-input {
  text-align: center;
}

.add-slot-claim {
  margin-top: 0.5rem;
}

.input-range-picker {
  width: 100%;
  border-radius: 1rem !important;
  height: 31px;
}
.input-range-picker .ant-picker-input input {
  font-size: 13.5px !important;
}

.title-pad {
  font-size: 4rem !important;
  margin-bottom: 10px;
  text-align: center;
  color: #bd6484 !important;
}

.description-text-presale {
  color: white;
}

.balance-token-buy {
  margin-top: 0.5rem;
  color: white;
  text-align: left;
}

.area-image-items {
  margin-top: -6rem;
  width: 100%;
  .area-combo-box {
    margin: auto auto;
    margin-bottom: 1rem;
    max-width: 250px;
    max-height: 290px;
    border-radius: 1rem;
    padding: 0 2rem 2rem 2rem;
    background: linear-gradient(198deg, #9d2e2e 0%, #0063cd 73%, #0761c1 100%);
    box-shadow: 0 4px 16px rgba(17, 17, 26, 0.55), 0 8px 24px rgba(17, 17, 26, 0.1),
      0 16px 56px rgba(17, 17, 26, 0.25);
    .image-combo-box {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
    }
  }
  .icon-down {
    width: 100%;
    span {
      svg {
        font-size: xx-large;
        font-weight: bold;
      }
    }
    margin-bottom: 1rem;
  }
  .image-box {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
  }
  .area-items {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
    background: linear-gradient(180deg, #220046 0%, #063e7a 90%, #083a70 100%);
    padding: 2rem 1rem;
    border-radius: 1rem;
    max-width: 789px;
    margin: auto auto;
    box-shadow: 0 4px 16px rgba(17, 17, 26, 0.55), 0 8px 24px rgba(17, 17, 26, 0.1),
      0 16px 56px rgba(17, 17, 26, 0.25);
    .box-nft {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
  .title-box {
    color: white;
    font-size: large;
    margin: auto auto;
    text-align: center;
    margin-top: 1rem;
  }
}

.area-whitelist {
  margin-top: 5rem;
  width: 100%;
  max-width: 700px;
  text-align: left;
  th.ant-table-cell {
    font-size: x-large;
    font-weight: bold;
  }
  td.ant-table-cell {
    font-size: large;
  }
  h1.title-whitelist {
    margin-bottom: 2.5rem !important;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
  .search-whitelist {
    max-width: 500px;
    .ant-input-wrapper.ant-input-group {
      border-radius: 0.75rem;
    }
    .ant-input-affix-wrapper:not(:last-child) {
      border-top-left-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;
    }
    .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
    .ant-input-group-addon {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }
}

.price-combo-box {
  color: white;
  max-width: 140px;
  font-size: large;
  font-weight: bold;
  margin: auto -2rem 1rem auto;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: black;
}

.btn-buy-presale {
  min-width: 180px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  b {
    font-size: 1.3rem;
  }
  span {
    font-size: 1.3rem;
    font-weight: bold;
  }
  strong {
    font-size: large;
    font-weight: bold;
    color: #bb0062;
  }
}

@media (max-width: 690px) {
  .description-short {
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
  }

  .content-presale {
    display: block;
    position: relative;
  }
  .description-short-left {
    margin-bottom: 8px !important;
    width: 100%;
  }
  .description-short-right {
    width: 100%;
    justify-content: space-between;
  }
  .amount-time-airdrop {
    display: block;
  }

  .amount-time-airdrop-box {
    margin-bottom: 1rem;
  }

  .content-create-airdrop .ant-upload.ant-upload-select-picture-card {
    width: 95px;
    height: 95px;
  }
  .area-items {
    flex-direction: column;
    width: 70%;
  }
}
