@import '../../dark.css';
@import '../../light.css';
.erc721-img {
  width: 100% !important;
  margin: auto;
  height: 250px;
  object-fit: contain;
}

.sp-between {
  display: flex;
  color: var(--color) !important;
  justify-content: space-between;
}

.card-token {
  background-color: var(--nft-background) !important;
  box-shadow: 0 6px 15px rgb(36 37 38 / 8%);
  border-radius: 1rem !important;
  overflow: hidden;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.card-token .ant-card-meta-description {
  color: var(--color) !important;
}

.content-list-nft .ant-card {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgb(235 80 134 / 40%);
}
.content-list-nft .ant-card:hover {
  box-shadow: 0px 4px 8px rgb(235 80 134 / 80%);
}

.content-list-nft .ant-card .ant-card-cover {
  padding: 0.6rem;
}

.content-list-nft .ant-card .ant-card-cover img {
  height: 20vh;
  margin: 0 auto;
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .content-list-nft {
    display: block;
  }
}

@media (max-width: 768px) {
  .content-list-nft .ant-card .ant-card-cover img {
    height: 35vh;
  }
}
