.sell-img {
  height: 60px;
  display: flex;
}

.sell-img > img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 20px;
}

.sell-img > p {
  font-size: 0.5cm;
  font-weight: 800;
}

.bnb-coin {
  width: 18px;
  height: 18px;
}

.price-des {
  margin: 10px 0px;
}

.price-des > :first-child {
  font-weight: 800;
  margin: 25px 0px 0px 0px;
}

.input-sell
  .ant-input-group.ant-input-group-compact
  > .ant-select:first-child
  > .ant-select-selector {
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.input-sell .ant-input-number-handler-wrap {
  display: none;
}
.input-sell .ant-input-number {
  border-top-right-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}
.input-price {
  width: calc(100% - 60px);
}

.input-sell .ant-input-number {
  width: 100%;
}

.input-amount {
  width: 250px;
  margin-left: 60px;
}

.width-100 {
  width: 100%;
}

.amount-input .ant-form-item-explain.ant-form-item-explain-error {
  margin-left: 60px;
}

.input-sell .input-amount-sell .ant-input-number {
  width: 100%;
  border-radius: 0.75rem;
}
