.collections-sidebar-left
  .ant-menu.ant-menu-sub
  .ant-menu-item.ant-menu-item-only-child:first-child {
  padding: 0 0.5rem !important;
}

.collections-sidebar-left .ant-menu.ant-menu-sub .ant-menu-item.ant-menu-item-only-child {
  padding: 0 1rem 0 0 !important;
}
.collections-sidebar-left .ant-menu-submenu-title {
  text-align: center;
}

.collections-sidebar-left .ant-menu-submenu-arrow {
  right: inherit;
  top: 52%;
}

.input-search-collections > span.style-search-input {
  border-radius: 30px !important;
}

.input-search-collections input.ant-input {
  border-radius: 0rem !important;
}

.style-sider-left {
  flex: 0 0 auto !important;
  max-width: 300px !important;
  width: 300px !important;
  overflow: hidden;
  z-index: 1;
  background: none !important;
  box-shadow: -6px 13px 20px 0px rgba(31, 38, 103, 0.40);
  min-height: 100vh;
}

.style-sider-left .ant-layout-sider-children,
.style-sider-left .ant-layout-sider-children .ant-menu.ant-menu-light.ant-menu-root,
.style-sider-left .ant-layout-sider-children .ant-menu.ant-menu-sub.ant-menu-inline,
.style-sider-left
  .ant-layout-sider-children
  .ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
  background: none;
}

.style-sider-left .ant-layout-sider-children .ant-menu-inline .ant-menu-item-selected::after {
  opacity: 0;
}

.style-sider-left .ant-layout-sider-children .ant-menu-inline .ant-menu-item {
  overflow: inherit;
  height: auto;
}

.sidenav-item {
  padding-left: 0.5rem;
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 2px 30px 0 rgba(31, 38, 103, 0.20);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 103, 0.20);
  overflow: hidden;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: -webkit-transform 475ms cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: -webkit-transform 475ms cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: transform 475ms cubic-bezier(0.8, 0, 0.26, 1.65);
  transition: transform 475ms cubic-bezier(0.8, 0, 0.26, 1.65),
    -webkit-transform 475ms cubic-bezier(0.8, 0, 0.26, 1.65);
  transform: scaleX(0.95);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.sidenav-item h2 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: all 375ms cubic-bezier(0.8, 0, 0.2, 1);
  transition: all 375ms cubic-bezier(0.8, 0, 0.2, 1);
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.sidenav-item.is-active {
  transform: scaleX(1);
}

.sidenav-item.is-active .name-token {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#522db8), to(#1c7ce0));
  background-image: linear-gradient(0deg, #522db8 0%, #1c7ce0 100%);
}

.sidenav-item.is-active .name-token h2 {
  color: #fff !important;
}

.avatar-token {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  -webkit-transition: all 375ms cubic-bezier(0.8, 0, 0.2, 1);
  transition: all 375ms cubic-bezier(0.8, 0, 0.2, 1);
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.avatar-token svg {
  width: 36px;
  border-radius: 8px;
}

.name-token {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0;
}

.carousel-collections {
  display: none;
  margin-top: 1rem;
}

.collection-nft {
  width: 100%;
  display: flex;
  border-radius: 1rem;
  margin: 0 0.25rem;
}

.carousel-collections .alice-carousel__wrapper {
  padding: 1rem;
}

.input-search-collections .ant-input-affix-wrapper {
  border-radius: 1rem;
}
.input-search-collections .ant-input-affix-wrapper input {
  border-radius: 1rem;
}

.list-collections {
  height: calc(100% - 5rem);
  margin-top: 1rem;
  overflow-y: auto;
  cursor: pointer;
  padding-left: 1rem;
}
.list-collections > .collect-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2.5rem;
  margin: 0.45rem 0.45rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* border-radius: 1rem; */
}
.list-collections > .collect-item .name-collection {
  display: inline-block;
  margin-left: 0.63rem;
  font-size: 0.88rem;
  font-weight: 500;
}

.icon-collection {
  display: inline-block;
  width: 2.12rem;
  height: 2.12rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fafafa;
}

.icon-collection img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.icon-collection .avatar-token {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.icon-collection .avatar-token svg {
  fill: #eb2f96;
}

.search-collections {
  height: 40vh;
  transition: all 0.15s ease 0s;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  padding: 0px 4px;
}

.style-search-input.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #eb2f96;
}

.style-search-input.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #eb2f96;
  box-shadow: 0 0 0 2px #eb2f961f;
}

.sort-results {
  padding: 0 0.4rem;
  margin: 1.5rem 0;
}

.left-sort-results {
  text-align: start;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.right-sort-results {
  text-align: end;
}
.right-sort-results .ant-select-selector {
  text-align: center;
}

.select-sort {
  border-radius: 1rem;
  width: 155px;
  margin: 0.25rem;
}
.select-sort .ant-select-selector,
.tokenpayment .ant-select-selector {
  border-radius: 1rem !important;
}

.tokenpayment {
  border-radius: 1rem !important;
  width: 125px;
  margin: 0.25rem;
}
.symbol-tokenpayment {
  margin-left: 0.5rem;
}
.option-tokenpayment {
  display: flex;
}

.nfts-filter-browse-container {
  background: transparent !important;
}

@media (max-width: 992px) {
  .site-layout-background.style-sider-left {
    display: none;
  }
  .carousel-collections {
    display: block;
  }
  .content-home .alice-carousel {
    width: 100%;
  }
  .list-collections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding-left: 0rem;
  }
  .list-collections {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .list-collections > .collect-item {
    min-width: 150px;
    margin: 0.45rem 0.65rem;
  }

  .search-collections {
    height: auto;
  }
}
