.bridge-nft {
  padding: 0 1rem;
}

.bridge-nft .title-page h1 {
  text-align: center;
  color: #ff3da3;
  font-size: 55px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bold;
  margin-top: 1.5rem;
}
.bridge-nft .desciption-page h3 {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.74);
}

.circle {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-left: 20px;
  background: #ff0086;
  border: 3px solid #9f9f9f;
  .up {
    position: absolute;
    left: 25%;
    right: 29.17%;
    top: 20%;
    bottom: -8.33%;
  }
  .down {
    position: absolute;
    left: 39%;
    top: 47.5%;
    bottom: 16.67%;

    transform: rotate(180deg);
  }
}

.content-bridge {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-content: stretch;
  .content-bridge-left {
    width: 25%;
    height: 100%;
    border: 2px solid #ff0086;
    border-radius: 11px;
    .header-tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      .ntf-single {
        width: 50%;
        text-align: center;
        padding: 0.5rem;
        border-bottom: 1px solid #ff0086;
        border-right: 1px solid #ff0086;
      }
      .ntf-multi {
        width: 50%;
        text-align: center;
        padding: 0.5rem;
        border-bottom: 1px solid #ff0086;
        border-left: 1px solid #ff0086;
      }
      .ant-tabs {
        width: 100%;
      }
      .ant-tabs-nav-list {
        margin: auto;
      }
      .ant-tabs-ink-bar {
        background: #ff0086 !important;
      }
      .ant-tabs-tab-active {
      }
    }
    .list-nft-owner {
      padding: 1rem;
      text-align: left;
      .item-nft {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 64px;
          height: 64px;
          border-radius: 11px;
        }
        .name-id {
          margin-left: 1rem;
        }
      }
    }
    .search-nft {
      padding: 1rem;
      text-align: center;
      .input-search-nfts {
        border-radius: 0.75rem;
      }
    }
  }
  .content-bridge-right {
    width: 70%;
    background: rgba(255, 255, 255, 0.5);
    border: 2px dashed #ff0086;
    border-radius: 11px;
    .area-swap {
      padding: 20px 32px;
      .area-swap-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        .from-wallet-connect {
          width: 40%;
        }
        .icon-arrow-right {
          width: 15%;
          text-align: center;
        }
        .to-wallet-connect {
          width: 40%;
        }
      }
      .title-are-swap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        .title-from {
          width: 40%;
        }
        .title-to {
          width: 40%;
        }
      }
      .eth-address {
        margin-top: 15px;
        margin-bottom: 30px;
        p {
          color: #000000;
          text-transform: uppercase;
        }
        .ant-input-affix-wrapper {
          height: 50px;
          background: #ffffff;
          box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
          border-radius: 11px;
          input {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.swap-list {
  margin-top: 35px;
  margin-left: 30%;
  background: rgba(255, 255, 255, 0.5);
  border: 2px dashed #bfbfbf;
  border-radius: 11px;
  text-align: center;
  img {
    padding-top: 22px;
    padding-bottom: 33px;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #929292;
  }
}

.connection-wallet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
  .text-mode {
    color: #501a1a;
  }
}
