.form-feedback {
  bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 32px;
  z-index: 2147483640;
}

.ant-avatar.icon-feedback {
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  color: #000;
  transition: color 0.3s;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .form-feedback {
    bottom: 100px;
  }
}
