.page-faucet {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    margin: 6rem;
    text-align: center;
}
.page-faucet h1.title-page b {
    color: #bd187b;
}

.page-faucet .btn-faucet {
    margin-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
    text-transform: none;
    padding: 8px 24px;
    min-width: 112px;
    font-size: 0.9375rem;
    min-height: 40px;
    color: #fff;
    background-color: #cb3d8e;
    border-color:#cb3d8e;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.4em;
}
.page-faucet .btn-faucet:hover {
    background-color: #bd187b;
    border-color:#bd187b;
}

.page-faucet .btn-faucet[disabled], .page-faucet .btn-faucet[disabled]:active, .page-faucet .btn-faucet[disabled]:focus, .page-faucet .btn-faucet[disabled]:hover {
    color: rgba(0,0,0,.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}

@media (max-width: 576px) {
    .page-faucet h1.title-page{
        font-size: 1.6rem;
    }
}
