.steps-content {
  text-align: center;
  border-radius: 2px;
  width: 60%;
}

.img-banner-submit-nft {
  width: 40%;
}

.img-banner-submit-nft img {
  width: 100%;
  border-radius: 1rem;
}

.create-step {
  width: 50% !important;
  margin: auto !important;
}

.select-network {
  color: gray;
  font-size: 0.6cm;
}

.get-listed {
  font-weight: bold;
  font-size: 1cm;
}

.steps-action {
  margin-top: 24px;
}

.input-address {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-color: #ff0086 !important;
}

.select-box {
  margin: auto;
  width: 20vw;
}

.select-box > div {
  margin: 24px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

.select-box > div:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.create-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  min-height: 90vh;
}

.create-page .ant-select-selector {
  border-bottom-left-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-color: #ff0086 !important;
}

.create-page .ant-select-single.ant-select-open .ant-select-selection-item {
  color: black;
}

.create-page
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #ff0086 !important;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(248, 15, 134, 0.23);
}

.create-page .ant-input:focus,
.create-page .ant-input-focused {
  border-color: #ff0086 !important;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.wrap-input-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.btn-submit-nft {
  margin-top: 1.2rem;
  font-size: 16px;
  background-color: #ff0086;
  border-color: #ff0086;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-submit-nft:hover,
.btn-submit-nft:active,
.btn-submit-nft:focus {
  background-color: #ff0086;
  border-color: #ff0086;
}

.area-submit-nft-user {
  text-align: start;
  padding: 0 5rem;
  padding-right: 0;
}

.ant-btn.btn-submit-nft {
  height: auto;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.select-type-nft-submit {
  height: auto;
  width: auto !important;
}

.select-type-nft-submit > div:first-child {
  border-right: 0px !important;
}

.input-address.input-accept {
  border-radius: 1rem !important;
}

.area-accpet {
  text-align: start;
  padding: 0 5rem;
  margin-top: 2rem;
}
.area-accpet .get-listed {
  margin-bottom: 1rem;
}

.wrap-box-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.dropzone-collection-submit {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: #000000;
  background: #ffffff;
  border: 1px solid #ff0086;
  border-radius: 1rem;
  cursor: pointer;
  vertical-align: top;
  overflow: hidden !important;
  padding: 0.15rem;
}

.wrap-input-and-button-submit {
  margin-left: 1rem;
  width: 70%;
  max-width: 500px;
}

@media (max-width: 990px) {
  .create-page {
    flex-direction: column;
  }
  .steps-content {
    margin-top: 5rem;
    width: 100%;
  }

  .img-banner-submit-nft {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .get-listed {
    font-size: 2rem;
  }

  .select-network {
    font-size: 1rem;
  }

  .area-submit-nft-user {
    text-align: start;
    padding: 0 2rem;
  }

  .wrap-box-submit {
    flex-direction: column;
  }

  .wrap-input-and-button-submit {
    margin-left: 0;
    margin-top: 1rem;
  }
  .wrap-input-and-button-submit {
    width: 100%;
  }
}
