@import '../../dark.css';
@import '../../light.css';
.input-search-nft {
  border-radius: 1rem !important;
  /* background-color: var(--input-background) !important; */
}

.input-search-nft .ant-input {
  /* background-color: var(--input-background) !important; */
  color: var(--color) !important;
}

.ant-select-selector {
  background-color: var(--input-background-white) !important;
}

.menu-bar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0px;
  transform: translate3d(0px, 0px, 0px);
  background-color: rgb(255, 255, 255);
}

.nav-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.justifyContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alignItems {
  display: flex;
  align-items: center;
}

.leftMenu {
  width: 40%;
}

.leftMenu .ant-col {
  background: var(--background-color);
}

.rightMenu .ant-menu {
  background: var(--background-color) !important;
}

.rightMenu .ant-menu-horizontal .ant-menu-item a {
  color: var(--color) !important;
}

.rightMenu .ant-menu-horizontal {
  color: var(--color) !important;
}

.ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow {
  right: 50px !important;
}

.ant-tag {
  margin-left: 8px !important;
}

.address p {
  color: rgba(0, 0, 0, 18);
}

@media (max-width: 1437px) {
  .leftMenu {
    width: 48%;
  }

  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    margin: 0 10px;
  }
  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item a {
    padding: 10px 10px;
  }
}
@media (max-width: 1345px) {
  .leftMenu {
    width: 37%;
  }
  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    margin: 0 7px;
  }
  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item a {
    padding: 10px 7px;
  }
}
@media (max-width: 1024px) {
  .leftMenu {
    width: 38%;
  }

  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    margin: 0 5px;
  }
  .menuCon .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item a {
    padding: 10px 5px;
  }
}

@media (max-width: 992px) {
  .barsMenu {
    display: block !important;
  }

  .rightMenu {
    display: none;
  }

  .leftMenu {
    width: 100%;
  }
}
