.page-profile {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
  max-width: 1500px;
  padding-left: 24px;
  padding-right: 24px;
}

.left-profile .info-user .background-avatar .background-profile img {
  width: 100%;
  border-radius: 1rem;
}
.left-profile .info-user .background-avatar .avatar-profile {
  position: absolute;
  bottom: -20%;
  left: 35%;
}
.left-profile .info-user .background-avatar .avatar-profile {
  width: 30%;
  border-radius: 50%;
}
.left-profile .info-user .background-avatar {
  position: relative;
}
.left-profile .info-user {
  text-align: center;
  padding-bottom: 1rem;
  background: linear-gradient(180deg, #ffb3db 0%, #ffffff 100%);
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);

  border-radius: 3.3rem;
}
.left-profile .info-user .name-user {
  margin-top: 3rem;
}
.left-profile .info-user .name-user h2 {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left-profile .info-user .address-wallet {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 20px;
  border-radius: 48px;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  max-width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-profile .info-user .address-wallet p {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.left-profile .info-user .description-profile {
  font-size: 1rem;
  margin: 2rem;
}
.left-profile .info-user .social-profile a {
  margin: 0 0.25rem;
}
.left-profile .info-user .social-profile a img {
  width: 36px;
  height: 36px;
}

.right-profile .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  margin: 0.65rem 0.25rem 1rem 0.65rem;
  border-radius: 1rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.right-profile .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.right-profile .ant-layout.background-mode {
  min-height: 0 !important;
  padding: 15px 0 !important;
}
.right-profile .ant-layout.background-mode .ant-layout-content.site-layout-background {
  padding: 0 !important;
}
.right-profile
  .ant-layout.background-mode
  .ant-layout-content.site-layout-background
  .ant-divider-horizontal {
  display: none;
}
.right-profile
  .ant-layout.background-mode
  .ant-layout-content.site-layout-background
  .ant-table-wrapper {
  margin-top: 0;
}
.right-profile .ant-table {
  margin-top: 1.5rem;
}

.right-profile .ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}
.right-profile .ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}
.right-profile .ant-table {
  border-radius: 1rem;
}
.right-profile .ant-table-tbody > tr > td {
  border-radius: 1rem;
}

.right-profile .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.right-profile .ant-tabs-tab:hover {
  color: black;
}

.right-profile .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background: linear-gradient(125.02deg, #eb2f96c7 7.52%, #3c0029 118.17%);
  border: none;
  color: white;
}

.btn-edit-profile {
  box-sizing: border-box;
  box-shadow: rgba(3, 3, 3, 0.144) 0px 10px 20px;
  border-radius: 48px;
  align-items: center;
  margin: 0 auto;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 0.75rem;
}

.grap-box {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.row-item {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  margin-bottom: 1rem;
}

.title-item .title {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 24px;
  font-weight: 600;
}

.label-input-item {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  opacity: 0.75;
}

.required::after {
  display: inline-block;
  margin-left: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: ' *';
}

.input-item {
  position: relative;
  border: 1px solid #0000001c;
  border-radius: 1rem;
  padding: 0.75rem;
}

.input-item input.input {
  border: none;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: var(--theme-ui-colors-white-100, #ffffff);
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid rgba(190, 190, 190, 0.164);
}

.input-item textarea.ant-input {
  border: none;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: var(--theme-ui-colors-white-100, #ffffff);
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid rgba(190, 190, 190, 0.205);
}
.input-item .ant-row.ant-form-item {
  margin-bottom: 0;
}

.upload-img {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  border-width: 1px;
  border-style: dashed;
  border-image: initial;
  border-color: var(--theme-ui-colors-black-10, #e6e6e6);
  border-radius: 10px;
  min-height: 115px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin: 0.5rem 0;
}

.title-upload {
  box-sizing: border-box;
  margin: 0px auto;
  min-width: 0px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  max-width: 180px;
  line-height: 1.4;
  text-align: center;
}

.wrap-item-upload {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.upload-avatar,
.upload-cover {
  width: 50%;
  height: 150px;
}

.upload-avatar .preview,
.upload-cover .preview {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  padding: 0.5rem;
}
.upload-avatar .preview img,
.upload-cover .preview img {
  margin: 0 auto;
  border-radius: 1rem;
}

.upload-avatar {
  margin-right: 0.75rem;
}
.upload-cover {
  margin-right: 0.75rem;
}

.row-input-optional {
  box-sizing: border-box;
  min-width: 0px;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--theme-ui-colors-black-5, #f2f2f2);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: #e6e6e636;
  padding-right: 0.5rem;
}

.title-input-optional {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
}

.input-optional {
  box-sizing: border-box;
  min-width: 0px;
  margin: -1px;
}
.input-optional input {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  width: 100%;
  appearance: none;
  font-size: inherit;
  color: inherit;
  line-height: 1;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  border: none;
  transition: box-shadow 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: var(--theme-ui-colors-white-100, #ffffff);
  min-height: 45px;
  border-radius: 10px;
  box-shadow: rgb(230, 229, 229) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.473) 0px 10px 20px;
  outline: none;
}

.title-input-optional .label-input {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.title-input-optional .label-input .icon {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
}

.title-input-optional .label-input .title {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 600;
}

.format-prefix {
  box-sizing: border-box;
  margin: 0px 0px 0px auto;
  min-width: 0px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 400;
  color: var(--theme-ui-colors-black-50, #7f7f7f);
}

.btn-update-profile {
  font-size: 16px;
  background-color: #ff0086;
  border-color: #ff0086;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-update-profile:hover,
.btn-update-profile:active,
.btn-update-profile:focus {
  background-color: #ff0086;
  border-color: #ff0086;
}

.form-input-profile .ant-form-item-explain.ant-form-item-explain-error {
  margin-top: 0.5rem;
  font-style: italic;
}

.bio-info-user {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.show-more-bio {
  color: #eb2f96;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.4rem;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .left-profile .info-user .address-wallet p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  .left-profile .info-user .address-wallet {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .page-profile {
    margin-top: 2rem;
  }

  .page-profile .left-profile {
    width: 100%;
  }
  .left-profile .info-user .name-user {
    margin-top: 3rem;
  }

  .left-profile .info-user .address-wallet {
    margin-bottom: 1rem;
  }

  .left-profile .info-user {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .background-profile {
    height: 180px;
  }

  .background-profile img {
    display: none;
  }

  .name-user {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .left-profile .info-user .name-user {
    margin-top: 2.5rem;
  }

  .background-profile {
    height: 150px;
  }
}
@media (max-width: 500px) {
  .background-profile {
    height: 120px;
  }
}
