.page-profile {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
  max-width: 1500px;
  padding-left: 24px;
  padding-right: 24px;
}

.left-profile .info-user .background-avatar .background-profile img {
  width: 100%;
}
.left-profile .info-user .background-avatar .avatar-profile {
  position: absolute;
  bottom: -20%;
  left: 35%;
}
.left-profile .info-user .background-avatar .avatar-profile {
  width: 30%;
}
.left-profile .info-user .background-avatar {
  position: relative;
}
.left-profile .info-user {
  text-align: center;
  padding-bottom: 1rem;
  background: linear-gradient(180deg, #ffb3db 0%, #ffffff 100%);
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);

  border-radius: 3.3rem;
}
.left-profile .info-user .name-user {
  margin-top: 3rem;
}
.left-profile .info-user .name-user h2 {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left-profile .info-user .address-wallet {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  box-shadow: rgb(0 0 0 / 23%) 0px 10px 20px;
  border-radius: 48px;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  max-width: 250px;
  cursor: pointer;
}
.left-profile .info-user .address-wallet p {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.left-profile .info-user .description-profile {
  font-size: 1rem;
  margin: 2rem;
}
.left-profile .info-user .social-profile a {
  margin: 0 0.25rem;
}

.right-profile .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  margin: 0.65rem 0.25rem 1rem 0.25rem;
  border-radius: 1rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.right-profile .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  border: 1px solid #f0f0f0;
}

.right-profile .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.right-profile .ant-layout.background-mode {
  min-height: 0 !important;
  padding: 15px 0 !important;
}
.right-profile .ant-layout.background-mode .ant-layout-content.site-layout-background {
  padding: 0 !important;
}
.right-profile
  .ant-layout.background-mode
  .ant-layout-content.site-layout-background
  .ant-divider-horizontal {
  display: none;
}
.right-profile
  .ant-layout.background-mode
  .ant-layout-content.site-layout-background
  .ant-table-wrapper {
  margin-top: 0;
}
.right-profile .ant-table {
  margin-top: 1.5rem;
}

.right-profile .ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}
.right-profile .ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}
.right-profile .ant-table {
  border-radius: 1rem;
}
.right-profile .ant-table-tbody > tr > td {
  border-radius: 1rem;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .left-profile .info-user .address-wallet p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  .left-profile .info-user .address-wallet {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .page-profile {
    margin-top: 2rem;
  }

  .page-profile .left-profile {
    width: 100%;
  }
  .left-profile .info-user .name-user {
    margin-top: 3rem;
  }

  .left-profile .info-user .address-wallet {
    margin-bottom: 1rem;
  }

  .left-profile .info-user {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .background-profile {
    height: 180px;
  }

  .background-profile img {
    display: none;
  }

  .name-user {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .left-profile .info-user .name-user {
    margin-top: 4rem;
  }

  .background-profile {
    height: 150px;
  }
}
@media (max-width: 500px) {
  .background-profile {
    height: 120px;
  }
}
