.footer {
  margin-top: 50px;
  padding-top: 30px;
  height: 300px;
  background: linear-gradient(180deg, #ffb3db 0%, rgba(196, 196, 196, 0) 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fla {
  width: 15vw;
}

.fld {
  display: flex;
  justify-content: space-around;
}

.flc {
  flex-direction: column;
}

.footer-logo {
  width: 146px;
  height: 50px;
  margin-bottom: 44px;
}

.footer-community-icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.copyright {
  z-index: 1;
  /* background-color: #12112c; */
  height: 76px;
}

.copyright-font {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
