.input-checkout-1155 {
  margin-top: 2rem;
}
.input-checkout-1155 .ant-input-number,
.input-checkout-1155 .ant-input-affix-wrapper-lg,
.input-checkout-1155 .ant-input.ant-input-lg.ant-input-disabled {
  width: 100%;
  border-radius: 1rem;
}

.input-checkout-1155 .ant-input-number-handler-wrap {
  display: none !important;
}
