.detail-page {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 2rem;
  min-height: calc(100vh - 8.63rem);
}

.body-page {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0%;
}

.detail-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list-owners-and-orders {
  margin: 1rem 0rem;
  background: #ffffffe6;
  padding: 0.5rem 1rem 2.15rem 1rem;
  border-radius: 0.75rem;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.detail-title {
  margin: 1.38rem 0px 0px;
  font-size: 1.88rem;
  line-height: 2.25rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.price-nft {
  width: 100%;
}

.detail-des {
  color: rgb(34, 34, 34);
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
  height: 1.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  height: auto;
  font-weight: inherit;
}

.detail-owner {
  height: 100%;
}
.detail-owner .ant-tabs.ant-tabs-top {
  height: 100%;
}
.detail-owner .ant-tabs.ant-tabs-top .ant-tabs-content {
  max-height: 12.9rem;
  min-height: 5rem;
}

.price-eth {
  margin-right: 15px;
  font-size: 1.1rem;
}

.detail-title {
  max-height: 20%;
  overflow: auto;
}

.detail-title > h1 {
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
  line-height: 40px;
  font-family: inherit;
  font-weight: 900;
}

.info-wrap-left {
  flex: 3 0 0%;
  max-width: 50%;
}
.expand-img-nft {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 0.06rem solid rgb(238, 238, 238);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 32rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.properties-nft {
  margin: 1rem;
  border-radius: 0.75rem;
  border: 0.06rem solid rgb(238, 238, 238);
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-properties {
  width: 100%;
  position: relative;
  background: rgb(249, 251, 252);
}
.title-tab-properties {
  width: 100%;
  height: 3.13rem;
  display: flex;
  padding: 0px 1.13rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  font-size: 0.88rem;
  cursor: pointer;
}
.title-tab-properties h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0px;
}

.list-properties {
  display: block;
  padding: 0.5rem 1rem;
}

.items-properties {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 12.9rem;
  min-height: 7.65rem;
  overflow: auto;
}
.item-properties {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 10.5rem;
  background: transparent;
  border-radius: 0.63rem;
  border: 0.06rem solid #eb2f96;
  padding: 0.88rem 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-properties {
  font-size: 0.85rem;
  text-align: center;
  color: #eb2f96;
  font-weight: bold;
}

.value-properties {
  font-size: 1.13rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  word-break: keep-all;
  padding: 0px 0.3rem;
  height: 1.5rem;
}

.info-wrap-right {
  flex: 3 0 0%;
  padding: 0 1rem;
}

.info-order-nft {
  margin: 0.5rem 0rem;
  background: #ffffffe6;
  padding: 1.5rem 1rem;
  border-radius: 0.75rem;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.collections-nft {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.88rem;
  font-weight: bold;
  color: rgb(0, 128, 255);
}
.collections-nft a {
  margin-right: 0.69rem;
  font-size: large;
  color: #eb2f96;
}
.collections-nft img {
  width: 1.48rem;
  height: 1.48rem;
}

.show-more-description {
  color: #eb2f96;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.4rem;
}

.no-nowrap {
  white-space: normal;
}

.top-btns {
  left: 0;
  right: 0;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.image-label {
  height: 100%;
  width: 100%;
}

.image-label > .ant-image {
  width: 100%;
  height: 100%;
}
.image-label > .ant-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.zimage {
  position: absolute;
  width: 100%;
  top: 84px;
  bottom: 0;
}

.inimage {
  width: 80%;
  height: 90%;
}

.inimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btL {
  position: absolute;
  left: 15px;
  top: 50%;
}

.btR {
  position: absolute;
  right: 15px;
  top: 50%;
}

.footer-sidebar {
  position: sticky;
  width: 100%;
  background: transparent;
  bottom: 0;
  left: 0;
}

.actions-buy-bid {
  width: 100%;
  height: 100px;
  padding: 0px 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feeService {
  text-decoration: none;
  color: rgba(4, 4, 5, 0.5);
  font-size: 14px;
  line-height: 19.32px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
}

.PE {
  width: 100%;
}

.actions-btn {
  display: flex;
  max-width: 500px;
}
.actions-btn .ant-btn-round.ant-btn-lg {
  height: 45px;
  padding: 9.4px 20px;
  font-size: 16px;
  border-radius: 18px;
}

.actions-btn .gSzfBw {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  z-index: 0;
  -webkit-box-flex: 1;
  width: 50%;
}

.cAFwWB {
  margin: 0px 0px 0px 8px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 0;
}

.btn-zoomin {
  margin: 0px;
  padding: 0px 16px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  z-index: 0;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  height: 84px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.zoom {
  position: relative;
  width: 100%;
  height: 100%;
}

.zoom > imgl {
  position: absolute;
  top: 0;
  bottom: 0;
}

.detail-owner .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid #f4b2db57;
}

.avatar-link-available {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin: 1rem 0;
}

.owner strong {
  text-overflow: ellipsis;
}

.avatar-owner img {
  margin-right: 0.5rem;
  width: 36px;
  height: 36px;
}

.detail-owner .ant-tabs-ink-bar {
  background: #6d0b4e;
}
.detail-owner .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #c64488;
}
.detail-owner .ant-tabs-tabpane {
  overflow: auto;
}

.input-amount-transfer {
  width: 100%;
}

.input-transfer input.ant-input,
.input-transfer .ant-input-number {
  border-radius: 1rem;
}

.input-transfer .ant-form-item-explain.ant-form-item-explain-error {
  font-size: smaller;
}
.input-sell .ant-form-item-explain.ant-form-item-explain-error {
  font-size: smaller;
}

.info-contract-nft {
  width: 100%;
  background: rgb(249, 251, 252);
  border-radius: 0.5rem;
  border: 0.06rem solid rgb(238, 238, 238);
  padding: 0.94rem 1.19rem 0px;
  font-size: 0.88rem;
  color: rgb(153, 153, 153);
  font-weight: bold;
  margin-top: 1.93rem;
}
.info-contract-item {
  margin-bottom: 0.88rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.wrap-address-and-coppy {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.purchase-nft {
  height: 10.5rem;
  background: rgb(249, 251, 252);
  border-radius: 0.5rem;
  border: 0.06rem solid rgb(238, 238, 238);
  margin-top: 2.25rem;
  position: relative;
  overflow: hidden;
}

.style-purchase {
  position: relative;
  padding: 1rem 1.04rem 1.81rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.style-purchase .title-and-price .title-price {
  font-size: 0.88rem;
  color: rgb(153, 153, 153);
  margin-bottom: 0;
  border-bottom: 1px dashed #bfbfbf70;
  padding-bottom: 0.35rem;
}
.style-purchase .title-and-price .price {
  margin-right: 0.69rem;
  color: rgb(34, 34, 34);
  font-size: 1.88rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn-cancel-sell {
  max-width: 250px;
}
.btn-buy-sell {
  max-width: 250px;
}

.expand-img-nft-mobile {
  margin: 1rem 0.5rem;
  padding: 2rem;
  border-radius: 0.75rem;
  border: 0.06rem solid rgb(238, 238, 238);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.detail-page .ant-image-mask:hover {
  opacity: 0;
  cursor: zoom-in;
}

@media (max-width: 992px) {
  * {
    font-size: 14px;
  }
  .detail-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .properties-nft {
    margin-left: 0;
    margin-right: 0;
  }
  .expand-img-nft-mobile {
    height: 30rem;
  }
  .purchase-nft {
    height: auto;
  }
  .items-properties {
    max-height: 14rem;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 13px;
  }
  .expand-img-nft-mobile {
    height: 25rem;
  }
}
@media (max-width: 576px) {
  * {
    font-size: 12px;
  }
  .expand-img-nft-mobile {
    height: 20rem;
    padding: 1rem;
    margin: 0.5rem 0;
  }
}
