.detail-page {
  position: absolute;
  width: 100%;
  top: 75px;
  bottom: 0px;
}

.detail-main {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.detail-content {
  margin: 15px;
  height: 85%;
}

.detail-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price-nft {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.detail-des {
  width: 100%;
  margin: 1rem 0;
}

.price-eth {
  margin-right: 15px;
  font-size: 18px;
}

.detail-title > h1 {
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
  line-height: 40px;
  font-family: inherit;
  font-weight: 900;
}

.expand-img-nft {
  position: relative;
  width: 70%;
  height: 100%;
  border: 3px solid #ffb3db;
  box-sizing: border-box;
  border-radius: 20px;
}

.side-bar {
  width: 29%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    153.65deg,
    rgba(254, 125, 193, 0.38) -52.38%,
    rgba(255, 179, 219, 0) 94.52%
  );
  border-radius: 20px;
  flex-direction: column;
}

.top-btns {
  position: absolute;
  left: 0;
  right: 0;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.image-label {
  height: 100%;
  width: 100%;
}

.imgl {
  height: 100%;
  padding: 70px;
}

.imgl > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
}

.zimage {
  position: absolute;
  width: 100%;
  top: 84px;
  bottom: 0;
}

.inimage {
  width: 80%;
  height: 90%;
}

.inimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btL {
  position: absolute;
  left: 15px;
  top: 50%;
}

.btR {
  position: absolute;
  right: 15px;
  top: 50%;
}

.footer-sidebar {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  left: 0;
}

.actions-buy-bid {
  width: 100%;
  height: 100px;
  padding: 0px 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feeService {
  text-decoration: none;
  color: rgba(4, 4, 5, 0.5);
  font-size: 14px;
  line-height: 19.32px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
}

.PE {
  width: 100%;
}

.actions-btn {
  display: flex;
  width: 100%;
}

.actions-btn .gSzfBw {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  z-index: 0;
  -webkit-box-flex: 1;
  width: 50%;
}

.cAFwWB {
  margin: 0px 0px 0px 8px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 0;
}

.btn-zoomin {
  margin: 0px;
  padding: 0px 16px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  z-index: 0;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  height: 84px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.zoom {
  position: relative;
  width: 100%;
  height: 100%;
}

.zoom > imgl {
  position: absolute;
  top: 0;
  bottom: 0;
}

.detail-owner .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid #f4b2db57;
}

.owner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin: 1rem 0;
}

.owner strong {
  text-overflow: ellipsis;
}

.owner img {
  margin-right: 0.5rem;
  width: 36px;
  height: 36px;
}

.detail-owner .ant-tabs-ink-bar {
  background: #6d0b4e;
}
.detail-owner .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #c64488;
}

@media (max-width: 770px) {
  .detail-main {
    margin-top: 20px;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .expand-img-nft {
    width: 100%;
  }

  .side-bar {
    width: 100%;
    margin-bottom: 15px;
    min-height: 350px;
    margin-top: 15px;
  }

  .owner {
    font-size: 12px;
  }

  .imgl {
    padding: 50px;
  }
}
