.carousel-banner-home {
  width: 100%;
}

.home-banner {
  width: 100%;
  position: relative;
}

.home-banner > img {
  object-fit: cover;
  width: 100%;
}

.home-banner > .banner-content {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
}

.search-icon {
  font-size: 1.15rem;
}

.home-search {
  height: 3rem;
  width: 33vw;
  border: 0;
  border-radius: 0px 16px 16px 0px;
  font-size: 1.15rem;
  outline: none;
}

.hs {
  display: flex;
  transition: all 0.3s;
  border-radius: 25px;
}

.hs div.search-icon.center.search-input {
  height: 3rem;
  width: 3rem;
  border-radius: 25px 0px 0px 25px;
  background: #ffffff;
}

/* TODO : darkmode */

.hs > .search-input {
  box-shadow: none;
  border: 1px solid #c3c3c3;
  border-radius: 0px 25px 25px 0px;
  transition: all 0.3s;
}

.hs > div.search-input { 
  border-right: none;
}

.hs > input.search-input.home-search { 
  border-left: none;
}

.hs.active {
  box-shadow: 0px 0px 0px 3px #eb2f961f;
}

.hs:hover .search-input,
.hs.active .search-input {
  border-color: #eb2f96;  
}

.mc-mk {
  font-size: 64px;
  margin-bottom: 10px;
  text-align: center;
  color: #bd6484;
}

.new-eco {
  font-size: 23px;
  text-align: center;
  color: #ffffff;
}

.box-search {
  position: relative;
}

.banner-search-home {
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .carousel-banner-home .item-carousel {
    height: 35vh;
  }
}

@media (max-width: 768px) {
  .carousel-banner-home .item-carousel {
    height: 30vh;
  }
  .home-banner > img {
    height: 350px;
  }
  .home-search {
    width: 60vw;
  }
}
@media (max-width: 568px) {
  .carousel-banner-home .item-carousel {
    height: 25vh;
  }
  .home-banner > img {
    height: 250px;
  }
  .mc-mk {
    font-size: 32px;
  }
  .new-eco {
    font-size: 18px;
  }
}
