@import './dark.scss';

@import './light.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fontRubik {
  font-family: 'Rubik Mono One', sans-serif;
}

.fontRoboto {
  font-family: 'Roboto', sans-serif;
}

.menu-bar {
  border-bottom: solid 1px #d9d9d9c9;
  overflow: hidden;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  position: sticky;
  z-index: 99;
}

.error-dot {
  width: 8px;
  height: 8px;
  background-color: #eb5086;
  border-radius: 50%;
  margin-left: 12px;
}

.pink-font {
  color: #c64488 !important;
}

.ant-select-selector {
  background: white;
}

.textmode,
.search-style {
  color: black !important;
}

.ant-menu-sub {
  width: fit-content !important;
}

.ant-modal-header {
  background-color: rgb(255, 255, 255) !important;
}

.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.justifyContent {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: 70px;
  float: left;
  a {
    display: inline-block;
    padding: 12px;
    img {
      width: 46px;
    }
  }
}

.menuCon {
  flex: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  display: flex;
  align-items: center;
  border-bottom: none;
}

.menuCon .rightMenu {
  flex: auto;
  float: right;
  user-select: none;
}

.menuCon .rightMenu ul.ant-menu {
  width: 100%;
  float: right;
  justify-content: flex-end;
}

div.menu-triggerer-container {
  flex: auto;
  margin-right: 20px;
  display: none;
  span.anticon.anticon-menu {
    float: right;
    height: 32px;
    background: none;
    border: none !important;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    color: white !important;
    svg {
      font-size: 32px !important;
    }
  }
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.text-blur {
  opacity: 0.45;
}

.height-line {
  height: 1.4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-max {
  flex: 1 1;
}

.ant-select-dropdown {
  border-radius: 0.75rem !important;
}

.icon-tokenpayment {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.width-100 {
  width: 100% !important;
}

@media (max-width: 767px) {
  .rightMenu {
    display: none;
  }

  .menuCon {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.content {
  position: relative;
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  z-index: 0;
  -webkit-box-flex: 1;
  background-image: url('Assets/backgrounds/bg-submit-nft.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-header {
  position: relative;
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 0;
  height: 75px;
}

.ant-card-bordered {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.ant-modal-content {
  border-radius: 15px !important;
  padding: 0.5rem;
}
.ant-modal-content .ant-modal-header {
  border-radius: 15px 15px 0 0 !important;
}

.z-index-2 {
  z-index: 2 !important;
}

.mgb-0 {
  margin-bottom: 0px;
}

.style-sider-left .ant-layout-sider-children .ant-menu-item.ant-menu-item-only-child {
  background: none !important;
}

.mr-1d5rem {
  margin-right: 1.5rem;
}
.mr-0d5rem {
  margin-right: 0.5rem;
}

.bt-cnlo:hover {
  color: #e35188 !important;
}

.border-none {
  border: none !important;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1500px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.radius-1rem {
  border-radius: 1rem !important;
}

.text-color-red {
  color: red !important;
}

.text-color-primary {
  color: #1890ff !important;
}

.ant-layout {
  background: none !important;
}

.events-history {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.ant-popover-inner {
  border-radius: 1rem !important;
}

.btn-coppy {
  color: rgb(136, 141, 155);
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
  font-size: 0.825rem;
  border: none;
  text-decoration: none;
  background: none !important;
  cursor: pointer;
  color: rgb(33, 171, 114);
  font-weight: 500;
  padding-right: 0;
}

.icon-coppy {
  margin-left: 0.25rem;
  font-size: 0.825rem;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(34, 34, 34);
}

.row-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.margin-0-auto {
  margin: 0 auto;
}

.link-collection-name {
  color: #ff008c8c;
}

.link-collection-name:hover,
.link-collection-name:active,
.link-collection-name:focus {
  color: #ff008c;
}

@media (max-width: 992px) {
  .menu-bar {
    height: 60px !important;
    .logo {
      width: 60px;
      height: 60px;
      a {
        padding: 8px;
        img {
          height: 44px;
          width: 44px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .barsMenu {
    padding-top: 0 !important;
  }
}

@media (max-width: 576px) {
  .menuCon {
    width: calc(100% - 90px);
  }
}
