html[data-theme='dark'] {
  --color: rgb(250, 250, 250);
  --background-color: #262626;
  --nft-background: #000000;
  --input-background: #232323;
  --border-box: #484848;
}

[data-theme='dark'] .ant-card {
  border: 1px solid rgb(84 83 83) !important;
}

[data-theme='dark'] .search-style,
[data-theme='dark'] .preview-title {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .ant-select-suffix > svg {
  color: #fff !important;
}

[data-theme='dark'] .page {
  background-color: rgb(0 0 0 / 85%) !important;
}

[data-theme='dark'] .select-box > div {
  background: #333333 !important;
}

[data-theme='dark'] .ant-card {
  background: rgb(58 58 58 / 85%) !important;
}

[data-theme='dark'] .content-home,
.ant-menu-submenu-popup > .ant-menu {
  background: rgb(38 38 38) !important;
}

[data-theme='dark'] .menu-bar,
.background-mode {
  background-color: var(--background-color) !important;
  /* border-bottom: solid 1px rgb(38 38 38) !important; */
}
[data-theme='dark'] .menu-bar {
  border: none !important;
}

[data-theme='dark'] .background-airdrop-mode,
.ant-menu-vertical > .ant-menu-item-selected {
  background-color: #3a3a3a !important;
}

[data-theme='dark'] .ant-radio-button-wrapper,
.bt-cnlo {
  background-color: var(--background-color) !important;
}

[data-theme='dark'] .ant-modal-content {
  background-color: rgb(30, 30, 30) !important;
}

[data-theme='dark'] .ant-modal-header {
  background-color: rgb(30, 30, 30) !important;
  border-color: var(--border-box) !important;
}

[data-theme='dark'] .ant-card-meta-title,
.ant-card-meta-description {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] label {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .choose > .active {
  border: 1px solid rgb(250, 250, 250) !important;
}

[data-theme='dark'] .textmode {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .nav-textmode {
  color: rgb(250, 250, 250) !important;
}

@media (max-width: 768px) {
  [data-theme='dark'] .nav-textmode {
    color: rgb(18, 18, 18) !important;
  }
}

[data-theme='dark'] .get-listed,
[data-theme='dark'] .ant-breadcrumb-link a,
[data-theme='dark'] .title-function,
[data-theme='dark'] .title-note,
[data-theme='dark'] .ant-input-group-addon {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .dropzone {
  color: rgba(87, 87, 87, 0.35) !important;
  background-color: rgb(234 234 234 / 15%) !important;
  border: 1px solid #ff0086 !important;
}

[data-theme='dark'] .input-name-nft,
[data-theme='dark'] .active.box.input-mode-bc {
  border: 1px solid #ff0086 !important;
}

[data-theme='dark'] #description {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  border: none !important;
}

[data-theme='dark'] .box.input-mode-bc {
  border: 1px solid #fff !important;
}

[data-theme='dark'] .ant-upload.ant-upload-select-picture-card {
  background-color: rgb(234 234 234 / 15%) !important;
  border: 1px dashed #716f6f !important;
}

[data-theme='dark'] .ant-input,
[data-theme='dark'] .input-area .ant-col.ant-form-item-label,
[data-theme='dark'] .description,
[data-theme='dark'] .ant-input-group-addon {
  background-color: rgb(234 234 234 / 15%) !important;
}

[data-theme='dark'] .ant-input-number {
  background-color: rgb(234 234 234 / 15%) !important;
}
[data-theme='dark'] .ant-picker {
  background-color: rgb(234 234 234 / 15%) !important;
}
[data-theme='dark'] .ant-picker-input > input {
  color: #fff;
}
[data-theme='dark'] .ant-upload {
  color: rgb(250, 250, 250) !important;
}
[data-theme='dark'] .ant-modal-close {
  color: rgb(250, 250, 250) !important;
}
[data-theme='dark'] .ant-picker-separator {
  color: #fafafa !important;
}
[data-theme='dark'] .ant-picker-suffix {
  color: #fafafa !important;
}
[data-theme='dark'] .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #585858;
}
[data-theme='dark'] .ant-input-affix-wrapper {
  border: 1px solid #585858;
}
[data-theme='dark'] .ant-input-affix-wrapper:hover {
  border: 1px solid #b7b7b7;
}

[data-theme='dark'] .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: 1px solid #b7b7b7 !important;
}
[data-theme='dark'] .rightMenu .ant-menu-item .ant-btn {
  border-color: #777;
}

[data-theme='dark'] .input-area .input-name-nft {
  border: 1px solid #ff0086 !important;
  color: #fff !important;
}

[data-theme='dark'] .amount-time-airdrop {
  background: #464646 0% 0% no-repeat padding-box;
  border: 1px solid #4c4c4c;
  color: #fff !important;
}
[data-theme='dark'] .amount-airdrop .num-uers-amount {
  color: aliceblue;
}

[data-theme='dark'] .input-search-nft,
[data-theme='dark'] .input-search-nft .ant-input {
  background-color: var(--input-background) !important;
  color: white;
}

[data-theme='dark'] .style-sider-left {
  background-color: var(--input-background) !important;
  box-shadow: 0 0 12px #000000;
}
[data-theme='dark'] .sidenav-item {
  background-color: #545353;
  color: white;
}
[data-theme='dark'] .sidenav-item h2 {
  color: white;
}
[data-theme='dark'] .barsMenu {
  background: none !important;
  color: white;
}

[data-theme='dark'] .ant-drawer-content {
  background: #464646 0% 0% no-repeat padding-box;
  border: 1px solid #4c4c4c;
  color: #fff !important;
}

[data-theme='dark'] .ant-menu {
  background: #b6b1b1 0% 0% no-repeat padding-box;
  border: 1px solid #4c4c4c;
  color: #fff !important;
}
[data-theme='dark'] .rightMenu .ant-menu {
  border: none !important;
}

[data-theme='dark'] .ant-menu-item a {
  color: #fff;
}

[data-theme='dark'] .ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
  background: rgb(61, 61, 61) !important;
}
[data-theme='dark'] .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: rgb(61, 61, 61) !important;
  color: white !important;
}
[data-theme='dark'] .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: rgb(83, 83, 83) !important;
  color: white !important;
}
[data-theme='dark'] .ant-select-item-option {
  color: white !important;
}
[data-theme='dark'] .pink-font {
  color: #fd5e9b !important;
}
[data-theme='dark'] .create-page .ant-select-selector {
  border: 1px solid #4c4c4c !important;
  color: white !important;
}
[data-theme='dark']
  .create-page
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #4c4c4c !important;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

[data-theme='dark'] .create-page .ant-select-single.ant-select-open .ant-select-selection-item {
  color: white;
}

[data-theme='dark'] .create-page .ant-input:focus,
.create-page .ant-input-focused {
  border: 1px solid #4c4c4c !important;
}

[data-theme='dark'] .search-input {
  box-shadow: 4px 4px 4px #9d3659;
  background-color: var(--input-background) !important;
  color: white;
}

[data-theme='dark'] .right-profile .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  box-shadow: rgb(0 0 0 / 74%) 0px 5px 15px;
}

[data-theme='dark'] .detail-owner .ant-tabs-ink-bar {
  background: #e6f7ff;
}
[data-theme='dark'] .detail-owner .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e6f7ff;
}
[data-theme='dark'] a.owner {
  color: deepskyblue;
}
[data-theme='dark'] .left-profile .info-user .address-wallet {
  box-shadow: rgb(0 0 0) 0px 10px 20px;
}

[data-theme='dark'] .left-profile .info-user {
  background: linear-gradient(180deg, #ffb3db 0%, #000000 100%);
}

@media (max-width: 767px) {
  [data-theme='dark'] .left-profile .info-user {
    background: none;
  }
}
